NODE_ENV='dev'
PORT='3000'
FRONTEND_URL='http://localhost:5173'
ENCRYPTION_KEY=''

# AWS / DynamoDB Config
AWS_REGION=''
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''

# AWS EventBridge Scheduler
SCHEDULER_ROLE_ARN=''
EVENT_BUS_ARN=''

# JWT Config
JWT_ACCESS_SECRET=''
JWT_REFRESH_SECRET=''
JWT_ACCESS_EXPIRY='15m'
JWT_REFRESH_EXPIRY='7d'

# Salesforce Config
SALESFORCE_CLIENT_ID=''
SALESFORCE_CLIENT_SECRET=''
SALESFORCE_REDIRECT_URI='http://localhost:3000/oauth/callback'
SALESFORCE_WEBHOOK_SECRET=''

# Services
BACKUP_SERVICE='http://localhost:3001/api'
INTERNAL_SECRET=''
